lx = {{ domain_extents[0] }};
ly = {{ domain_extents[1] }};
lz = {{ domain_extents[2] }};
nx = {{ element_numbers[0] }};
ny = {{ element_numbers[1] }};
nz = {{ element_numbers[2] }};

Point(1) = {0, 0, 0, lx/nx};

{% if have_regular_mesh %}
Extrude {lx, 0, 0} { Point{1}; Layers{nx}; }

If ( !nz )
  nz = Ceil(nx*lz/lx);
EndIf
Extrude {0, 0, lz} { Line{1}; Layers{nz}; }

If ( !ny )
  ny = Ceil(nx*ly/lx);
EndIf
Extrude {0, ly, 0} { Surface{5}; Layers{ny}; }
{% else %}
Extrude {lx, 0, 0} { Point{1}; }
Extrude {0, 0, lz} { Line{1}; }
Extrude {0, ly, 0} { Surface{5}; }
{% endif %}

Physical Surface(1) = {26};	// xmin
Physical Surface(2) = {18};	// xmax
Physical Surface(3) = {5};	// ymin
Physical Surface(4) = {27};	// ymax
Physical Surface(5) = {22};	// zmax
Physical Surface(6) = {14};	// zmin
Physical Volume(7) = {1};

