lx = $domain_length_x;
nx = $el_num_x;
dx = $el_size_x;

Point(1) = {0, 0, 0, dx};

Extrude {lx, 0, 0} {
  Point{1}; Layers{nx}; 
}

// end boundaries
Physical Point(1) = {1};
Physical Point(2) = {2};

Physical Line(3) = {1};

