lx = {{ domain_extents[0] }};
ly = {{ domain_extents[1] }};
nx = {{ element_numbers[0] }};
ny = {{ element_numbers[1] }};

Point(1) = {0, 0, 0, lx/nx};

{% if have_regular_mesh %}
Extrude {lx, 0, 0} { Point{1}; Layers{nx}; }

If ( !ny )
  ny = Ceil(nx*ly/lx);
EndIf
Extrude {0, ly, 0} { Line{1}; Layers{ny}; }
{% else %}
Extrude {lx, 0, 0} { Point{1}; }
Extrude {0, ly, 0} { Line{1}; }
{% endif %}

Physical Line(1) = {3}; 	// xmin
Physical Line(2) = {4}; 	// xmax
Physical Line(3) = {1}; 	// ymin
Physical Line(4) = {2}; 	// ymax
Physical Surface(5) = {5};

