<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE testproblem SYSTEM "regressiontest.dtd">
<testproblem>
  <name>{{ problem.case }}</name>
  <owner userid="{{ problem.user_id }}"/>
  <tags>{{ problem.simulation_options_extension }}</tags>
  <problem_definition length="{{ problem.simulation_options_test_length }}" nprocs="1">
    <command_line>
cd {{ mesh_dir }}
{{ '\n'.join(mesh_commands) }}
cd ../{{ simulation_dir }}
{{ '\n'.join(simulation_commands) }}
cd ..
    </command_line>
  </problem_definition>
  <variables>
    {% for var in variables %}
    <variable name="{{ var.name }}" language="python"> {{ var.code }}
    </variable>       
    {% endfor %}
  </variables>
  <pass_tests>
    <test name="Solvers converged" language="python">
import os
files = os.listdir("./")
assert(not "matrixdump" in files and not "matrixdump.info" in files)
    </test>
    {% for var in variables %}{% if var.threshold %}
    <test name="{{ var.name }} &{{ var.rel_op }}; {{ var.threshold }}" language="python"> 
assert({{ var.name }} &{{ var.rel_op }}; {{ var.threshold }})
    </test> 
    {% endif %}{% endfor %}
  </pass_tests>
  <warn_tests>
  </warn_tests>
</testproblem>
